.forHead {
  height: 100vh;
  width: 100%;
  background: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 0 0 300px 300px;
}

.navlist {
  display: flex;
  justify-content: flex-end;
}

.navlistitem {
  width: 25%;
  display: flex;
  justify-content: space-around;
}

a {
  color: green;
}

a:hover {
  text-decoration: none;
  color: white;
}

.navbutton,
#login_button,
#logout_button {
  color: white;
  list-style: none;
  background-color: white;
  color: green;
  border: 2px solid green;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbutton:hover {
  background-color: green;
  border: 2px solid white;
  color: white;
}

.welcome_text {
  /* margin-bottom: 50px; */
  position: absolute;
  top: 30%;
  left: 30%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 100px;
}

#plant_image {
  width: 100%;
}

#game {
  display: none;
}

.card {
  margin: 50px 50px;
  border: 3px dashed green;
}

.waterPlant_button {
  margin-bottom: 20px;
  background-color: darkgreen;
}

.waterPlant_button:hover {
  background-color: green;
}

/** ------------------CUSTOM BUTTON STYL-------------- **/
#login_button,
#logout_button {
  height: 60px;
  position: absolute;
  top: 65%;
  left: 30%;
}
